@model IEnumerable<TheLastPlate2.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Zip_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Zip_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Cust_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Cust_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Cust_ID })
        </td>
    </tr>
}

</table>
